<form method="post" action="{{ path('genre_delete', {'id': genre.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');"
      style="
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 80px;
    margin-top: 12px;
"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
