{% extends 'layoutgeneral.html.twig' %}

{% block simple %}{% endblock %}
{% block body %}
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="card">
                <div class="card-header py-3">
                    <h1 style="text-align: left;">Nombre de page Pour le genre : {{ nom }}</h1>

                </div>
                <div class="card-body">

                    <h1><span class="w3-green"> {{ nombre }}  <span></h1>
                </div>
            </div>
    </section>


{% endblock %}