<form method="post" action="{{ path('livre_delete', {'id': livre.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');"
      style="
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 80px;
    margin-top: 12px;
"
>

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
