{% extends 'layoutgeneral.html.twig' %}

{% block title %}Modifier livre{% endblock %}

{% block body %}

    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="card">
                <div class="card-header py-3">
                    <h1 style="text-align: left;">Modifier Livre : </h1>
                </div>
                <div class="card-body">
                    {{ include('livre/_form.html.twig', {'button_label': 'Modifier'}) }}

                    <div href="{{ path('livre_index') }}" class="btn-group" role="group">
                        <button class="btn btn-primary" type="button">Retour à la liste</button>
                        <button class="btn btn-primary" type="button"><i class="fas fa-step-backward"></i></button>
                    </div>
                    </a>
                    {{ include('livre/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
