{% extends 'layoutgeneral.html.twig' %}

{% block title %}Ajouter livre{% endblock %}

{% block body %}
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="card">
                <div class="card-header py-3">
                    <h1 style="text-align: left;">Ajouter un livre :</h1>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                           {{ include('livre/_form.html.twig', {'button_label': 'Ajouter'}) }}
                        </tbody>
                    </table>
                    <a href="{{ path('livre_index') }}">
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" type="button">Retour à la liste</button>
                            <button class="btn btn-primary" type="button"><i class="fas fa-step-backward"></i></button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
