{% extends 'layoutgeneral.html.twig' %}

{% block simple %}{% endblock %}
{% block body %}


    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="card">
                <div class="card-header py-3">
                    <h1 style="text-align: left;">Rechercher livre : </h1>
                </div>
                <div class="card-body">
                    {{ include('livre/_form.html.twig') }}

                    </a>

                </div>
            </div>
        </div>
    </section>



{% endblock %}