<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link href='https://css.gg/filters.css' rel='stylesheet'>
    <link href='https://css.gg/math-plus.css' rel='stylesheet'>
    <link href='https://css.gg/math-minus.css' rel='stylesheet'>
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="/bookland">BOOKLAND</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/bookland">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="/bookland/genre">Genres</a></li>
                <li class="nav-item"><a class="nav-link" href="/bookland/auteur">Auteurs</a></li>
                <li class="nav-item"><a class="nav-link" href="/bookland/livre">Livres</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page lanidng-page">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}
    {% endblock %}
</main>
<footer class="page-footer">
    <div class="container">
        <div class="page-footer">
            <a href="/bookland">Accueil</a>
            <a href="/bookland/genre">Genres</a>
            <a href="/bookland/auteur">Auteurs</a>
            <a href="/bookland/livre">Livres</a>
        </div>
        <div class="links">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><span>LOUDAGH Ali</span></li>
                <li class="list-group-item"><span>BOUZARZAIT Oumaima</span></li>
                <li class="list-group-item"><span>CHABI Othman</span></li>
                <li class="list-group-item"><span>MULUMBA Isaac</span></li>
            </ul>
            <span><br>© 2021 upjv<br></span>
        </div>
    </div>
</footer>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/assets/js/theme.js"></script>
</body>

</html>